#Ignore build outputs
target/
build/

#Ignore IDE settings
.idea/
*.iml
.vscode/

#Ignore Docker files themselves
Dockerfile
docker-compose.yml
.dockerignore

# Ignore Git
.git
.gitignore

#Ignore local environment secrets
.env

#Ignore OS metadata
.DS_Store
Thumbs.db